<div class="container">
    <div class="row">
        <!-- <div class="col-12 text-center mb-1 py-2 driver-strip">
            Greg Browne (G4) <br>
            <small class="txt-darkgrey">181 D 1271 - PWT 704</small>
        </div> -->
        <!-- Enabled BOL -->
        <!-- <div class="col-12">
            <div class="form-group my-2">
                <label for="">Bill of Laden</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter BOL" aria-label="Enter BOL"
                        aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-success" type="button">Save</button>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Disabled BOL -->
        <!-- <div class="col-12">
            <div class="form-group my-2">
                <label for="">Bill of Laden</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="BOL123456" aria-label="Enter BOL"
                        aria-describedby="basic-addon2" disabled>
                    <div class="input-group-append">
                        <button class="btn btn-default txt-success bg-transparent" type="button"><i class="fa fa-pencil"></i> </button>
                    </div>
                </div>
            </div>
        </div> -->
        <!--  -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row bg-p-lite py-3">
                        <div class="col-6 pop-heavy">22 May 2022</div>
                        <div class="col-6 text-end"> <span
                                class="badge bg-success para-sm w-auto border-0 py-2 px-3"> 4 Deliveries</span>
                        </div>
                    </div>

                    <!-- D1 -->
                    <div class="card p-0 mb-4 mt-2 shadow-lg">
                        <div class="card-body p-0">
                            <div class="container p-0">
                                <div class="row p-0 align-items-center border-bottom">
                                    <div class="col-4 d-block">
                                        <div class="d-grid stick-label para-xl px-3 py-2 txt-fb">
                                            <strong>Load 1</strong>
                                        </div>
                                    </div>
                                    <div class="col-4 text-danger text-center pe-4 load-img">
                                        <img src="assets/images/topoil.png" alt="">
                                    </div>
                                    <div class="col-4 text-danger text-end pe-4">
                                        <i class="fa fa-exclamation-circle"></i> Pending
                                    </div>
                                </div>
                                <div class="row align-items-center px-3 py-3">
                                    <div class="col-5">
                                        <span class="para-reg txt-darkgrey">Terminal</span>
                                        <div class="para-lg pop-heavy">Foynes</div>
                                    </div>
                                    <div class="col-1 text-center p-0">
                                        <i class="fa fa-arrow-right h-m txt-darkgrey"></i>
                                    </div>
                                    <div class="col-6">
                                        <span class="para-reg txt-darkgrey">Destination</span>
                                        <div class="para-lg pop-heavy">Aquafuel Test</div>
                                    </div>
                                </div>
                                <div class="row px-3 mb-2">
                                    <div class="col-6 txt-s para-lg pop-heavy">D2 - 20,000</div>
                                    <div class="col-6 txt-s para-lg pop-heavy">Derv - 30,000</div>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer p-0">
                            <div class="container p-0">
                                <div class="row p-0">
                                    <div class="col-12 p-0 d-grid gap-2 border-left">
                                        <a href="drop-details.html"
                                            class="btn btn-success para-xl pop-heavy btn-block"> Start Load <i
                                                class="fa fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- D2 -->
                    <div class="card p-0 mb-4 mt-2 shadow-lg">
                        <div class="card-body p-0">
                            <div class="container p-0">
                                <div class="row p-0 align-items-center border-bottom">
                                    <div class="col-4 d-block">
                                        <div class="d-grid stick-label para-xl px-3 py-2 txt-fb">
                                            <strong>Load 2</strong>
                                        </div>
                                    </div>
                                    <div class="col-4 text-danger text-center pe-4 load-img">
                                        <img src="assets/images/applegreen.png" alt="">
                                    </div>
                                    <div class="col-4 text-danger text-end pe-4">
                                        <i class="fa fa-exclamation-circle"></i> Pending
                                    </div>
                                </div>
                                <div class="row align-items-center px-3 py-3">
                                    <div class="col-5">
                                        <span class="para-reg txt-darkgrey">Terminal</span>
                                        <div class="para-lg pop-heavy">Foynes</div>
                                    </div>
                                    <div class="col-1 text-center p-0">
                                        <i class="fa fa-arrow-right h-m txt-darkgrey"></i>
                                    </div>
                                    <div class="col-6">
                                        <span class="para-reg txt-darkgrey">Destination</span>
                                        <div class="para-lg pop-heavy">Aquafuel Test</div>
                                    </div>
                                </div>
                                <div class="row px-3 mb-2">
                                    <div class="col-6 txt-s para-lg pop-heavy">D2 - 20,000</div>
                                    <div class="col-6 txt-s para-lg pop-heavy">Derv - 30,000</div>
                                </div>
                            </div>

                        </div>
                        <!-- <div class="card-footer p-0">
                            <div class="container p-0">
                                <div class="row p-0">
                                    <div class="col-12 p-0 d-grid gap-2 border-left">
                                        <a href="drop-details.html"
                                            class="btn btn-success para-xl pop-heavy btn-block"> Start Load <i
                                                class="fa fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>

                </div>
            </div>
            <!-- 
                Below buttons will appear only when
                there is NO PENDING loads.
            -->
            <!-- <div class="row">
                <div class="col-12 py-2">
                    <a href="#" class="btn btn-s btn-lg btn-block w-100 pop-heavy para-xl">End Shift</a>
                </div>
                <div class="col-12 py-2">
                    <a href="#" class="btn btn-fb btn-lg btn-block w-100 pop-heavy para-xl">Next Load</a>
                </div>
            </div> -->
            <!-- Ends here..  -->
        </div>
        <!--  -->
    </div>
</div>
