<div id="loginbox">
    <div class="row">
        <div class="col-12 text-center mb-4 mt-5 pt-5">
            <h4>Confirm Truck & Trailer</h4>
        </div>
        <div class="col-10 offset-1">
            <div class="form-group">
                <label for="">Truck</label>
                <!-- <span class="dd-arrow"><i class="fa fa-chevron-down"></i></span> -->
                <select class="form-select input-lg">
                    <option value="">Truck 1</option>
                    <option value="">Truck 2</option>
                    <option value="">Truck 3</option>
                    <option value="">Truck 4</option>
                    <option value="">Truck 5</option>
                </select>
            </div>
        </div>
        <div class="col-10 offset-1">
            <div class="form-group">
                <label for="">Trailer</label>                 
                <!-- <span class="dd-arrow"><i class="fa fa-chevron-down"></i></span> -->
                <select class="form-select input-lg">
                    <option value="">Trailer 1</option>
                    <option value="">Trailer 2</option>
                    <option value="">Trailer 3</option>
                    <option value="">Trailer 4</option>
                    <option value="">Trailer 5</option>
                </select>
            </div>
        </div>
        <div class="col-5 offset-1">
            <div class="form-group">
                <label for="">Start Time - Hrs</label>                 
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-5 offset-0">
            <div class="form-group">
                <label for="">Start Time - Mins</label>                 
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-10 offset-1">
            <div class="form-group">
                <label for="">Start ODO</label>                 
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-10 offset-1 mx-auto d-grid gap-2 mt-3">
            <a href="checklist.html" class="btn btn-block btn-s para-xl pop-heavy fw-bold">PROCEED</a>
        </div>
    </div>
</div>
