<div class="container">
    <div class="row">
        <!--  -->
        <div class="col-12">
            <div class="row card p-2 mx-1 mt-3 content-card">
                <div class="col-12 mb-1">
                    <div class="txt-darkgrey"><small> Destination</small></div>
                    <span class="para-lg">Aquafuel Test (T1001)</span>
                </div>
                <!--  -->
                <div class="col-12 mb-1">
                    <div class="form-group">
                        <div class="txt-darkgrey"><small> Terminal</small></div>
                        <select name="" id="" class="form-select">
                            <option value="">Terminal 1</option>
                            <option value="">Terminal 2</option>
                            <option value="">Terminal 3</option>
                            <option value="">Terminal 4</option>
                            <option value="">Terminal 5</option>
                        </select>
                    </div>
                </div>
                <!--  -->
                <div class="col-12">
                    <div class="form-group">
                        <div class="txt-darkgrey"><small> Bill of Laden</small></div>
                        <input type="text" class="form-control" placeholder="Enter BOL">
                    </div>
                </div>
                <!--  -->
                <div class="col-12">
                    <div class="form-group">
                        <div class="txt-darkgrey"><small> Add BOL Photo</small></div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Select Screenshot/Photo"
                                aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-fb btn-addon btn-mini" type="button"
                                id="button-addon2">Browse</button>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="col-12">
                    <div class="form-group">
                        <div class="txt-darkgrey"><small> Add Delivery Docket Photo</small></div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Select Screenshot/Photo"
                                aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-fb btn-addon btn-mini" type="button"
                                id="button-addon2">Browse</button>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="col-12">
                    <div class="form-group">
                        <div class="txt-darkgrey"><small> Time Printed (24Hrs Format)</small></div>
                        <div class="row">
                            <div class="col-6">
                                <!--  -->
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Hours"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <span class="input-group-text" id="basic-addon2">H</span>
                                </div>
                            </div>
                            <div class="col-6">
                                <!--  -->
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Mins"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <span class="input-group-text" id="basic-addon2">M</span>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                    </div>
                </div>
                <!--  -->
                <div class="col-12">
                    <div class="form-group">
                        <div class="txt-darkgrey"><small> DERV Gross</small></div>
                        <input type="text" class="form-control" placeholder="derv value" value="40,000"
                            disabled>
                    </div>
                </div>
                <!--  -->
                <div class="col-12">
                    <div class="form-group">
                        <div class="txt-darkgrey"><small> DERV Nett</small></div>
                        <input type="text" class="form-control" placeholder="derv value" value="">
                    </div>
                </div>
                <!--  -->
                <div class="col-12 mt-3 mb-2">
                    <button class="btn btn-s btn-block w-100 pop-heavy"> Finish Delivery </button>
                </div>
                <div class="col-12 mb-3">
                    <button class="btn btn-p btn-block w-100">+ Multi Drop </button>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
</div>
