<!-- <app-login></app-login> -->
<app-header></app-header>
<!-- <app-cnf-truck-trailer></app-cnf-truck-trailer> -->
<!-- <app-walkaround-checklist></app-walkaround-checklist> -->
<!-- <app-checklist-final></app-checklist-final> -->
<!-- <app-drop-detail-first-page></app-drop-detail-first-page>
<app-drop-detail-second-page></app-drop-detail-second-page> -->
<!-- <app-log-shift-hours></app-log-shift-hours> -->
<!-- <app-request-leave></app-request-leave> -->
<!-- <app-select-company></app-select-company> -->
<!-- <app-trip-details></app-trip-details> -->
<!-- <app-weekly-signoff-sheet></app-weekly-signoff-sheet> -->
<!-- <app-training></app-training> -->
<router-outlet></router-outlet>
