<div class="container">
    <div class="row">
        <!--  -->
        <div class="col-12">
            <div class="row card p-2 mx-1 mt-3 content-card flex-wrap flex-row overflow-auto">
                <div class="col-5 mb-0">
                    <div class="para-sm pop-heavy">Foynes</div>
                    <div class="para-sm">01/08/2022</div>
                </div>
                <div class="col-7 mb-0">
                    <div class="para-sm">Truck: <span class="pop-heavy">Ady Peterson</span></div>
                    <div class="para-sm">Trailer: <span class="pop-heavy">PWT 719</span></div>
                </div>
                <!--  -->
                <div class="col-6 mb-0">
                    <div class="form-group">
                        <div class="txt-darkgrey"><small>Start Time</small></div>
                        <input type="text" class="form-control" value="06:00" disabled>
                    </div>
                </div>
                <!--  -->
                <div class="col-6">
                    <div class="form-group">
                        <div class="txt-darkgrey"><small> Start ODO</small></div>
                        <input type="text" class="form-control" placeholder="ODO Reading" value="">
                    </div>
                </div>
                <!--  -->
                <div class="col-6 mb-0">
                    <div class="form-group">
                        <div class="txt-darkgrey"><small>End Time</small></div>
                        <input type="text" class="form-control" value="18:00" disabled>
                    </div>
                </div>
                <!--  -->
                <div class="col-6">
                    <div class="form-group">
                        <div class="txt-darkgrey"><small> End ODO</small></div>
                        <input type="text" class="form-control" placeholder="ODO Reading" value="">
                    </div>
                </div>
                <!--  -->
                <div class="col-6 mb-0">
                    <div class="form-group">
                        <div class="txt-darkgrey"><small>Fuel (in Litres)</small></div>
                        <input type="text" class="form-control" placeholder="Enter Value" value="">
                    </div>
                </div>
                <!--  -->
                <div class="col-6">
                    <div class="form-group">
                        <div class="txt-darkgrey"><small>Fuel Source</small></div>
                        <select name="" id="" class="form-control">
                            <option>Kinsley</option>
                            <option>Foynes</option>
                            <option>Aquafuel Test</option>
                            <option>Test</option>
                        </select>
                    </div>
                </div>
                <!--  -->
                <div class="col-12">
                    <div class="form-group para-lg">
                        <span class="txt-darkgrey"><small> Tank Full?</small></span>
                        <input name="tankfull" id="tankfull" type="checkbox" class="">
                        <label class="h-l" for="tankfull">Yes</label>
                    </div>
                </div>
                <!--  -->
            </div>
            <div class="row card p-2 mx-1 mt-2 content-card flex-wrap flex-row overflow-auto">
                <div class="col-12">
                    <span class="pop-heavy">Work Summary</span>
                    <ul class="px-0 mt-2">
                        <li class="list-unstyled mb-1"> <span
                                class="comp-initial d-inline-block me-2 rounded-3 bg-p-lite txt-p">A</span>
                            <span class="pop-heavy">L1</span> Calibridge 2. St. Wolstan
                        </li>
                        <li class="list-unstyled mb-1"> <span
                                class="comp-initial d-inline-block me-2 rounded-3 bg-p-lite txt-p">A</span>
                            <span class="pop-heavy">L2</span> Enfield Applegreen
                        </li>
                        <li class="list-unstyled mb-1"> <span
                                class="comp-initial d-inline-block me-2 rounded-3 bg-p-lite txt-p">T</span>
                            <span class="pop-heavy">L3</span> Jobstown(24)
                        </li>
                        <li class="list-unstyled mb-1"> <span
                                class="comp-initial d-inline-block me-2 rounded-3 bg-p-lite txt-p">I</span>
                            <span class="pop-heavy">L4</span> Mount Merrion
                        </li>
                    </ul>
                </div>
                <hr class="mb-2">
                <div class="col-6 text-center">
                    <div class="bg-litegrey rounded">
                        <span class="pop-heavy">5</span><span> Loads</span>
                    </div>
                </div>
                <div class="col-6 text-center">
                    <div class="bg-litegrey rounded">
                        <span class="pop-heavy">4</span><span> Drops</span>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <div class="txt-darkgrey"><small> Total Hours</small></div>
                        <div class="row">
                            <div class="col-6">
                                <!--  -->
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Hours" value="4"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <span class="input-group-text para-sm bg-darkgrey txt-lite"
                                        id="basic-addon2">Hours</span>
                                </div>
                            </div>
                            <div class="col-6">
                                <!--  -->
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Mins" value="23"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <span class="input-group-text para-sm bg-darkgrey txt-lite"
                                        id="basic-addon2">Minutes</span>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                    </div>
                </div>
                <div class="col-6 pt-3 pb-2">
                    <strong>Standard Hours:</strong>
                    
                </div>
                <div class="col-6 pt-3 pb-2 text-end">
                    <strong>10hrs 15min</strong>
                </div>
            </div>
            <!--  -->
            <div class="row my-3">
                <div class="col-6">
                    <button class="btn btn-p btn-block w-100 pop-heavy" data-bs-toggle="modal"
                        data-bs-target="#noteModal"> Add Note </button>
                </div>
                <div class="col-6">
                    <button class="btn btn-s btn-block w-100">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Driver Sign Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please Sign Below</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <canvas id="signature"></canvas>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-p">Done</button>
            </div>
        </div>
    </div>
</div>
<!-- Add Note Modal -->
<div class="modal fade" id="noteModal" tabindex="-1" aria-labelledby="noteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Note</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" name="addNoteForm">
                    <div class="row">
                        <div class="col-12">
                            <textarea name="" id="" cols="30" rows="5" class="form-control"
                                placeholder="Add a short note here..."></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-p">Add</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="assets/lib/mobile-friendly-sketch-pad/lib/sketchpad.js"></script>
<script>
    var sketchpad = new Sketchpad({
        element: '#signature',
        width: 600,
        height: 450,
    });
</script>
