<!-- <div id="wrapper" class="d-flex align-items-start"> -->
    <div id="loginbox">
        <div class="row">
            <div class="col-12 text-center mb-4 mt-5 pt-5">
                <img src="assets/images/brand-logo.png" alt="">
            </div>
            <div class="col-10 offset-1">
                <div class="form-group">
                    <!-- <label for="">Email Address</label> -->
                    <input type="text" class="form-control input-lg" placeholder="Username">
                </div>
            </div>
            <div class="col-10 offset-1">
                <div class="form-group">
                    <!-- <label for="">Password</label> -->
                    <input type="password" class="form-control input-lg" placeholder="Password">
                </div>
            </div>
            <div class="col-10 offset-1 mx-auto d-grid gap-2 mt-3">
                <a href="confirm-truck-trailer.html" class="btn btn-block btn-s para-xl pop-heavy">SIGN IN</a>
            </div>
        </div>
    </div>
<!-- </div> -->
