
<div class="container">
    <div class="row"><ul>
        <li class="list-unstyled py-2 px-2 border-bottom">
            <div class="row align-items-center">
                <div class="col-1 txt-p para-xl"><i class="fa fa-file-pdf"></i></div>
                <div class="col-9"><div>Training_module_one.pdf</div> <span class="txt-darkgrey para-sm">Viewed on 12 Aug. 2021</span></div>
                <div class="col-1"> <a href="#" class="downloadlink bg-p-lite2 d-inline-block p-2 rounded-circle"> <i class="fa fa-download"></i></a></div>
            </div>
        </li>
        <!--  -->
        <li class="list-unstyled py-2 px-2 border-bottom">
            <div class="row align-items-center">
                <div class="col-1 txt-p para-xl"><i class="fa fa-file-pdf"></i></div>
                <div class="col-9"><div>Training_module_one.pdf</div> <span class="txt-darkgrey para-sm">Viewed on 12 Aug. 2021</span></div>
                <div class="col-1"> <a href="#" class="downloadlink bg-p-lite2 d-inline-block p-2 rounded-circle"> <i class="fa fa-download"></i></a></div>
            </div>
        </li>
        <!--  -->
        <li class="list-unstyled py-2 px-2 border-bottom">
            <div class="row align-items-center">
                <div class="col-1 txt-p para-xl"><i class="fa fa-file-pdf"></i></div>
                <div class="col-9"><div>Training_module_one.pdf</div> <span class="txt-darkgrey para-sm">Viewed on 12 Aug. 2021</span></div>
                <div class="col-1"> <a href="#" class="downloadlink bg-p-lite2 d-inline-block p-2 rounded-circle"> <i class="fa fa-download"></i></a></div>
            </div>
        </li>
        <!--  -->
        <li class="list-unstyled py-2 px-2 border-bottom">
            <div class="row align-items-center">
                <div class="col-1 txt-p para-xl"><i class="fa fa-video"></i></div>
                <div class="col-9"><div>Training_module_one.pdf</div> <span class="txt-darkgrey para-sm">Viewed on 12 Aug. 2021</span></div>
                <div class="col-1"> <a href="#" class="downloadlink bg-p-lite2 d-inline-block p-2 rounded-circle"> <i class="fa fa-play"></i></a></div>
            </div>
        </li>
        <!--  -->
        <li class="list-unstyled py-2 px-2 border-bottom">
            <div class="row align-items-center">
                <div class="col-1 txt-p para-xl"><i class="fa fa-file-pdf"></i></div>
                <div class="col-9"><div>Training_module_one.pdf</div> <span class="txt-darkgrey para-sm">Not Downloaded</span></div>
                <div class="col-1"> <a href="#" class="downloadlink bg-s-lite txt-s d-inline-block p-2 rounded-circle"> <i class="fa fa-download"></i></a></div>
            </div>
        </li>
        <!--  -->
        <li class="list-unstyled py-2 px-2 border-bottom">
            <div class="row align-items-center">
                <div class="col-1 txt-p para-xl"><i class="fa fa-file-pdf"></i></div>
                <div class="col-9"><div>Training_module_one.pdf</div> <span class="txt-darkgrey para-sm">Not Downloaded</span></div>
                <div class="col-1"> <a href="#" class="downloadlink bg-s-lite txt-s d-inline-block p-2 rounded-circle"> <i class="fa fa-download"></i></a></div>
            </div>
        </li>
        <!--  -->
    </ul>
       <div class="col-12">

       </div>
    </div>
</div>
