@import "_variables";


html,
body {
    width: 100%;
    height: auto;
    background-color: #333;
}

#wrapper {
    position: relative;
    width: 375px;
    max-width: 100%;
    height: 812px;
    background-color: #F3FFFE;
    margin: 30px auto;
    overflow-y: auto;
    overflow-x: hidden;
}

header {
    height: 65px;
    background-color: $color-light;

    i {
        font-size: 20px;
    }
    a.link-dark {
        color: #111;
    }
}

.card {
    border-radius: 10px;
    overflow: hidden;
    border: none;
    .card-header {
        background-color: $color-light;
    }

    .card-footer {
        background-color: $color-light;
        border-top: 1px solid $color-grey;
    }
}

.border-left {
    border-left: 1px solid $color-grey;
}

.driver-strip {
    background-color: #eedcd4;
}

.loadinfo {
    li {
        line-height: 1.65em;
        display: flex;
        flex-wrap: wrap;
        i {
            color: $color-grey;
            display: inline-block;
            margin-right: 5px;
            width: 25px;
        }
        span {
            max-width: 190px;
        }
    }
}

.defectbrief:nth-child(even) {
    background-color: rgba(168, 181, 194, 0.1);
    border-top: 1px solid rgba(112, 112, 112, 0.2);
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
}

.content-card {
    // max-height: 68vh;
    flex-wrap: nowrap;
    overflow-y: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.input-checkset {
    input[type="radio"] {
        display: none;
    }
    label {
        color: $color-light;
        text-align: center;
        padding: 10px;
        border-radius: 2px;
        cursor: pointer;
    }
    .radio-checklist-p + label {
        border:2px solid $color-p;
        color: $color-p;
    }

    .radio-checklist-p:checked + label {
        background-color: $color-p;
        color: $color-light;
    }

    .radio-checklist-s + label {
        border:2px solid $color-s;
        color: $color-s;
    }
    .radio-checklist-s:checked + label {
        background-color: $color-s;
        color: $color-light;
    }
}

span.dd-arrow {
    position: absolute;
    right: 15px;
    top: 15px;
}

.badge-rounded{
    width: 40px;
    height: 40px;
    color: #fff;
    background: #F85126;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0;
    position: absolute;
    right: -5px;
    top: -5px;
    border-radius: 50%;
    border: 2px solid #fff;
    font-size: 20px;
}

.comp-initial{
    background-color: #E0F1EF;
    width: 25px;
    height: 25px;
    text-align: center;
    font-weight: bold ;
    line-height: 25px;
}
.downloadlink{
    width: 36px;
    height: 36px;
    line-height: 18px;
    text-align: center;
}

.checklist-item{
    li{
        padding: 10px;
    }
    li:nth-child(even){
        background-color: rgba($color: #A8B5C2, $alpha: 0.1);
    }
}

.tbl-signoff{
    tr td:last-child{
        text-align: right;
    }
}

.load-img{
    img{
        max-height: 35px;
    }
}